
body {
	padding: 10px;
}

#padding {
	height: 10vw;
}

#main {
	max-width: 960px;
	margin: auto;
	display: flex;
}

#left {
	min-width: 200px;
	max-width: 300px;
	padding-right: 10px;
}

#right {
	min-width: 300px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
}

.subheader {
	font-size: 18px;
}

.indent {
}

.name-title {
	font-family: 'Montserrat', sans-serif;
}

#quick-info {
	font-family: 'Montserrat', sans-serif;
	color: gray;
	font-size: 14px;
}

.style1 {
	font-size: 2em;
}

ul {
  list-style-type: none;
  margin-block-start: 0em;
  padding-inline-start: 22px;
}

ul li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}
ul li{
	margin-bottom: 5px;
}

p {
	margin-block-end: 0em;
}

a {
	text-decoration: none; color: gray;
}
